.main-cstppup{
    display: flex;
    flex-direction: column;
    row-gap: 20px; 
    margin-top: 50px;
   justify-content: center;
   align-items: center;
   margin-bottom: 50px;
    /* box-shadow: 5px 5px 6px 0px rgba(225, 207, 207, 0.726); */
}
.progress{
    width: 600px;
}
.man{
    width: 200px;
    border-radius: 50%;
    border: 1px solid;
    border-left-color: green;
    border-right-color: yellow;
    border-top-color: red;
    border-bottom-color:blue ;
}
.profile{
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff9f;
    border-radius: 5px;
        box-shadow: 5px 5px 6px 0px rgba(225, 207, 207, 0.726);
        border-top: 3px solid rgb(255, 255, 255);
}
.profile:hover{
    box-shadow:4px 4px 6px 0px rgba(120, 92, 205, 0.767);
    border-top: 3px solid blue;
    transform: translateY(-5px);
    transition: 0.5s;
}
.details{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: justify;
    /* align-items: center; */
}
.nmi{
    outline: none;
    color: blue;
    border-radius: 2px;
    padding: 4px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
.phone-no{
    margin-top: -20px;
    letter-spacing: 2px;
    color: rgba(81, 81, 81, 0.808);
    font-weight: 600;
}

.textareaa{
    outline: none;
    padding: 10px 20px;
    font-size: 21px;
    border-radius: 5px;
     box-shadow: 5px 5px 6px 0px rgba(225, 207, 207, 0.726);
     height: 200px;
}
.textareaa:focus{
    border-bottom: 4px blue solid;
}
.btnn{
    border-radius: 45px;
    background-color: #8482FF;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
}
.btnn:hover{
    background-color:whitesmoke;
    color:black;
    box-shadow:4px 4px 6px 0px rgba(120, 92, 205, 0.767);
}
.headingfeed{
    color: #1b17ffcf;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 40px;
    text-align: center;
}
.comments{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 2px solid blue;
    overflow-y:scroll;
    height: 300px;
    padding: 20px;
    
    border-radius: 6px;
}
.fd{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}
.tx{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 8px;
}
.dt{
    border-bottom: 1px groove blue;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #4c79d3;
    outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4c79d3;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 