body{
    background-color: #ecedee;
}
.mn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main-dash{
    margin-top: 100px;

    display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
column-gap: 200px;
row-gap: 100px;
padding: 20px 30px;
}
.stock img{
width: 600px;

}
.greet{
    font-size: 35px;
    letter-spacing: 1px;
}
.user-name{
    color: rgb(77, 77, 231);
    margin-left: 10px;
}
@media screen and (max-width:500px){
    .main-dash{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 160px;
    }
    .greet{
        font-size: 33px;

    }
}