.main-card,.mainn-card{
  
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
.mainn-card{
    margin-bottom: 50px;
}

@media screen  and (max-width:683px){
    .main-card{
        column-gap: 10px;
        padding: 3px;
    }
}
